body, html, main
  height 100%
.one-col
  width 100%
.two-col
  width 50%
.three-col
  width 33.33%
.three-col-two
  width 66.66%
.four-col
  width 25%
.four-col-three
  width 75%
.five-col
  width 20%
.full-height
  height 100%
img
  max-width 100%
