@import url("../../assets/colors.css");

.header {
  text-align: center;
  padding: 20px;
  font-size: .875em;
}
.values {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  opacity: 0.8;
}
.footer p {
  text-align: center;
  max-width: none;
  width: 100%;
  margin-bottom: .1em;
}
