@import url("../../assets/colors.css");

.value {
  margin: 0 auto calc(2vw / var(--screen-scale)) auto;
  height: calc(30vw / var(--screen-scale));
  width: calc(30vw / var(--screen-scale));
  border: calc(0.8vw / var(--screen-scale)) solid var(--dark-grey);
  border-radius: 50%;
  font-size: calc(6vw / var(--screen-scale));
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  text-align: center;
  width: calc(40vw / var(--screen-scale));
  margin: calc(10vw / var(--screen-scale)) 0;
}
.container h3{
  font-size: calc(5vw / var(--screen-scale));
  font-weight: 200;
}
