@import url("../../assets/colors.css");

.container {
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 3px;
  margin-right: 10px;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
}
.online {
  background: #4bd748;
}

.offline {
  background: red;
}
