@import url("./colors.css");

/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, input, textarea, select, main, aside {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: none;
	outline: 0;
	border-style: solid;
	border-width: 0;
	box-sizing: border-box;
	position: relative;
}

html, body{
	height: 100%;
  background-color: var(--light-grey);
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
div, section, nav{
	position: relative;
}


/* Typography */
html{
  font-size: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
	font-smooth: always;
	font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
}
body{
	font-family: 'Helvetica Neue', sans-serif;
	color: var(--dark-grey);
}
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  margin: 0;
}
h1, .alpha {
    font-size: 2.625em;
    line-height: 1.0476190476190477;
    margin-bottom: 0.5238095238095238em;
}
h2, .beta {
    font-size: 1.96875em;
    line-height: 1.3968253968253967;
    margin-bottom: 0.6984126984126984em;
}
h3, .gamma {
    font-size: 1.3125em;
    margin: 0 0 1.5714285714285714em;
    line-height: 1.5714285714285714;
}
h4, .delta {
    font-size: 1.1484375em;
    line-height: 1.1972789115646258;
    margin-bottom: 1.1972789115646258em;
}
h5, .epsilon {
    font-size: 0.984375em;
    line-height: 1.3968253968253967;
    margin-bottom: 1.3968253968253967em;
}
h6, .zeta {
    font-size: 0.875em;
    line-height: 1.5714285714285714;
    margin-bottom: 1.5714285714285714em;
}
p,
blockquote {
    font-size: 1.1125em;
    margin: 0 0 1.5714285714285714em;
    line-height: 1.5714285714285714;
            hyphens: none;
}
dd,
dt,
li {
    line-height: 1.5714285714285714;
    margin: 0;
}
a{
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
input, select, button, textarea, .btn{
	font-size: 1.3125em;
	line-height: 1.5714285714285714;
}

strong{
	font-weight: 600;
}
p, .tagline, .featuredItem p{
	line-height: 1.9em;
  	max-width: 35em;
}
.featuredItem p, .tagline{
	font-size: 1em;
}
.articles header p{
	font-size: .875em;
}

pre{
  color: white;
  padding: 20px;
  margin-bottom: 2em;
}
code{
  font-family: monospace;
}

h1{
  font-size: 1.5em;
}
p{
  font-size: .875em;
}
